name: phonics_abc_app
description: "A phonics learning app for young English learners to practice the alphabet."
publish_to: 'none'
version: 0.1.0+2

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^6.1.0
  url_launcher: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/images/
